################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManager/.vs/UserManager
/UserManager/UserManager.Core/obj
/UserManager/.vs/ProjectEvaluation
/UserManager/UserManager/obj
